<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% if page.title %}
    <title>{{ page.title }} - itbrokeand.ifixit.com</title>
    {% else %}
    <title>itbrokeand.ifixit.com</title>
    {% endif %}

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>itbrokeand.ifixit.com</h1>
        <p>Sometimes things break, and then we've got to fix them.</p>
      </header>
      <section>

